.jumbotron{
    border-bottom: 3px black solid;
    border-radius: 0;
    background-color: greenyellow;
    
}
.row{
    margin-bottom: 0.25rem;
    
}
.time-slot{
    padding: 15px !important;  /*to over ride boot strap no gutters*/
    text-align: end;
}
.textarea{
    width: 100%;
    height: 100%;
    resize: none;
    /* border: solid 1px rgba(0, 0, 0, 0.356); */
}
.past{
    background-color: rgba(153, 148, 148, 0.24);
}


.btn{
    height: 100%;
    border-radius: 0; 
}

.time-slot{
    border-top: dashed 1px gray;

}

@media only screen and (max-width:768px){
    .row{
        border-bottom: dashed 1px gray;
        padding-bottom: 1rem;
    }
    .time-slot{
        text-align: center;
        border-top: none;
    }
} 