
/* Source Sans Pro font */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

body{
    background-color: whitesmoke;
    font-family: 'Merriweather', serif;
}
/* header Start */
.jumbotron{
    border-bottom: 3px black solid;
    border-radius: 0;
    background-color:  #b1bebec5;
    position:relative;
    padding: 20px;
    
}
.jumbotron h1{
    padding-top: 20px;
}
.jumbotron p{
    margin-bottom: 0;
}

#date-time{
    position: absolute;
    top:0 ;
    left:1.5rem;
}
/* Header Ends */

.time-slot{
    padding-right: 20px !important;  /*to over ride boot strap no gutters*/
    text-align: end;
    border-top: dashed 1px gray;
}
textarea{
    width: 100%;
    height: 100%;
    resize: none;
    padding-left: 10px;
}
/* classes used diffretaite between past, present and future */
.past{
    background-color: #ff826080;
    /* opacity: 0.5; */
}
.past:hover{
    background-color: #ff8260;
}
.present{
    background-color: #e8e28880;
    /* opacity: 0.5; */
}
.present:hover{
    background-color: #E8E288;
}
.future{
    background-color:#7dce8286;
}
.future:hover{
    background-color:#7DCE82;
}
.future:focus{
    background-color: #7DCE82;
}
/* Button's styling */
.btn{
    height: 100%;
    border-radius: 0;
    background-color: #b1bebec5; 
    border-bottom: dashed 1px rgb(141, 141, 141);
}
.btn:hover{
    background-color: #b1bebe;
}

/* Media Queries */
@media only screen and (max-width:768px){
    #date-time{
        top:0.5rem;
        left: 50%;
        margin-left: -107px;
    }
    
    .time-slot{
        text-align: center;
    }
    .btn{
        border-bottom: none;
    }
} 